* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  text-decoration: none;
  color: black;
}

.item {
  width: 132px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 1rem;
}

.item div {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  padding: 0.5rem;
}

.item .title {
  font-weight: 600;
}

.item .price {
  font-weight: 600;
  color: #f48644;
}

.item .disc {
  font-size: 0.8rem;
  font-weight: 300;
  color: grey;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.item .disc span {
  background-color: #f9b9bc;
  color: red;
  padding: 0 0.5rem;
  border-radius: 1rem;
}

.item button {
  cursor: pointer;
  margin-top: 0.5rem;
  background-color: #0072ff;
  color: white;
  padding: 0.5rem;
  border-radius: 1rem;
  border: none;
  width: 100%;
}
.item button:hover {
  transition: all 0.3s ease-in-out;
  background-color: white;
  color: #0072ff;
}

nav {
  width: 100%;
  background-color: #0072ff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 3rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 100vh;
  margin: 1rem;
}

main span {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

main span .sectionOne {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

main span .sectionOne .boxThree {
  font-size: 3rem;
  font-weight: 600;
  background-color: #f474ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
}

main span .sectionOne .boxFour {
  font-size: 3rem;
  font-weight: 600;
  background-color: #ff8a8a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
}

main span .products {
  overflow: auto;
  display: flex;
  gap: 1rem;
}

main span .sectionThree {
  display: flex;
  gap: 0.5rem;
}

main span .sectionThree .boxOne {
  width: 100%;
  font-size: 3rem;
  font-weight: 600;
  background-color: #dbfb15;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
}

main span .sectionThree .boxTwo {
  width: 100%;
  font-size: 3rem;
  font-weight: 600;
  background-color: #2bf2fe;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
}

main .products2 {
  display: none;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  background-color: #d9d9d9;
  text-align: center;
  padding: 1rem;
  font-size: 0.8rem;
  font-weight: 600;
}

footer .paragraph {
  text-align: justify;
  display: none;
}

footer .toggle {
  cursor: pointer;
  border: none;
  background-color: #d9d9d9;
  font-weight: 600;
}

footer a i {
  background-color: white;
  padding: 10px;
  border-radius: 100%;
  box-shadow: black 0 0 3px;
}

@media screen and (min-width: 768px) {
  nav {
    justify-content: start;
  }

  .item {
    width: 182px;
  }

  main span {
    flex-direction: column-reverse;
  }

  main span .sectionOne {
    flex-direction: column-reverse;
  }

  main span .products {
    display: none;
  }

  main .products2 {
    overflow: auto;
    display: flex;
    gap: 1rem;
  }
}
